
    <div class="container-fluid mt-5 about-style" id="aboutid" style="background-color: rgb(238, 222, 222);">
            <div class="col-md-10 col-12 mx-auto">
                <h2 class="text-center main-heading">About Us</h2>
                <p class="text-center sub-heading">Grow Your Business With Us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                            <figure>
                                <img style="width 250px; height: 300px" src="images/1602313839_1LlkHB_fashion_and_lifestyle_.jpg" alt="herosection-image">
                            </figure>
                            </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-left flex-column">
                        <h1>CHOOSE AMONG THE BEST IN THE WORLD</h1>
                        <p>Welcome to our <span class="bold-style">LIFESTYLE</span> store. We will provide you the best products here.</p>
                        <button class="btn-style">Read More</button>
                        </div>   
                </div>
            </div><br><br><br>
        </div>
    </div>
    